nav{
    background-color: rgb(255, 255, 255);
    height: 15vh;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    padding-top: 45px;
}
nav a:link{
    text-decoration: none;
}
nav a:hover{
    font-weight:bold;
    color: black
}
nav ul{
    display:inline-block;
}
a[href]{
    color: grey;
}
h1{
    padding-top: 2rem;
    text-align: center;
    text-shadow: 3px 3px 5px white;
}
body{
    background-color: #c0ced4;
}
.services{
    display: grid;
    grid-template-columns: repeat(1,4fr);
    row-gap: 10px;
    border: 3px solid white;
    border-radius: 80px;
    border-width: 5px 15px;
    margin-top: 1rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding-left: 5rem;
    padding-top: 1rem;
}
.about{
    text-align: center;
    border: 3px solid white;
    border-radius: 80px;
    border-width: 5px 15px;
    margin-top: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.total{
    text-align: center;
    margin-bottom: 1rem;
}
.container-pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.pet{
    border: 3px solid white;
    border-radius: 80px;
    border-width: 5px 15px;
    background-color: rgb(81, 146, 158);
    color: white;
    margin-left: 5rem;
    margin-right: 7rem;
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer{
    background-color: rgb(255, 255, 255);
    height: 15vh;
    text-align: center;
    color: rgb(15, 10, 10);
    letter-spacing: 4px;
    padding-top: 45px;
}