nav{
    background-color: rgb(255, 255, 255);
    height: 12vh;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    padding-top: 40px;
}
nav a:link{
    text-decoration: none;
}
nav a:hover{
    font-weight:bold;
    color: black
}
nav ul{
    display:inline-block;
}
a[href]{
    color: grey;
}
h1{
    padding-top: 2rem;
    text-align: center;
    text-shadow: 3px 3px 5px white;
}
body{
    background-color: #c0ced4;
}
.home{
    margin-top: 30rem;
    text-align: center;
}
.home h4{
    padding-bottom: 1rem;
}
.services{
    row-gap: 10px;
    border: 3px solid white;
    border-radius: 80px;
    border-width: 5px 15px;
    margin-top: 1rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding-left: 5rem;
    padding-top: 1rem;
}
.about{
    text-align: center;
    border: 3px solid white;
    border-radius: 80px;
    border-width: 5px 15px;
    margin-top: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.total{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
}
.appointment{
    margin-left: 34rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
}
.pets{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    border: 3px solid white;
    border-radius: 80px;
    border-width: 5px 15px;
    margin-bottom: 2rem;
}
.bg-color{
    background-color: yellowgreen;
}
footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(15, 10, 10);
    letter-spacing: 4px;
    padding-top: 45px;
    position:bottom;
    bottom:0;
    width:100%;
    height: 150px;
    margin-top: 30px;
}